

.payment-container {
    text-align: center;
    padding: 20px;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    color: #000;
}

.payment-option {
    flex: 1; /* Each option takes up equal space */
    margin: 10px;
    padding: 20px;
    color: #000;
    text-align: center;
    border: 2px solid #a4c639; /* Thin border */
    border-radius: 10px; /* Rounded edges */
}


.payment-option {
    margin: 0 10px;
}

.payment-option img {
    width: 100px;
    height: 100px;
}

.payment-option p {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .payment-option img {
        width: 70px;
        height: 70px;
    }
    @media screen and (max-width: 768px) {
        .payment-option {
            flex-basis: 80%; 
        }
}
